body {
  background-color: white !important;
  font-family: "Sofia Sans", sans-serif;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(236, 71, 71);
}
